<h1>Add word</h1>

<p>Add a word here:</p>

<form action="/word/new" method="post">
  <label for="word">Word:</label>
  <input id="word" name="word" type="text">
  <button type="submit">Add word</button>
  <label for="definition">Definition</label>
  <input id ="definition" name="definition" type="text">
  <button type="submit">Add definition</button>
</form>
